{% extends 'blog/layout.html' %}
{% load static %}
{% block title %}
Войти
{% endblock %}

{% block content %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}
    <button class="btn btn-success">Войти</button>
    {% if form.errors %}
        <p>Неверное имя или пароль</p>
        <p><a href="{% url 'password_reset' %}">Забыли пароль? Лох</a></p>
    {% endif %}
</form>
{% endblock %}