{% extends 'blog/layout.html' %}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <section class="container-fluid">
        <div class="container">
            {% if not user.is_authenticated %}
                <h1 style="text-align: center;">Ты пидор</h1>
            {% else %}
                <h1 style="text-align: center;">Ты зареган</h1>
            {% endif %}
        </div>
    </section>
{% endblock %}
