{% extends 'blog/layout.html' %}
{% load static %}
{% block title %}
{{post.title}}
{% endblock %}

{% block content %}
    <section id="bg-big" class="container-fluid" style="background: url(' {{post.image.url}} ')">
        <div id="hero" class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">{{post.title}}</h1>
              <p class="lead">{{post.summary}}</p>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <section class="container">
            <div class="row">
                <div class="col-md-9">
                    <p>{{post.title}}</p>
                    <em><a href="{{post.category.get_absolute_url}}">{{post.category.title}}</a></em>
                    <p><img src="{{post.image.url}}" alt=""></p>
                    <p>{{post.summary}}</p>
                    <p>{{post.text}}</p>
                    <p>{{post.date}}</p>
                    <hr>
                    <h2>Комментарии: {{post.comment_set.count}}</h2>
                    <h3>Оставьте комментарий</h3>
                    <form action="{% url 'comment' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if not user.is_authenticated %}
                        <p>
                            <input class="form-control" type="text" name="name" placeholder="Имя">
                        </p>
                        {% endif %}
                        <p>
                            <textarea class="form-control" name="text" id="" cols="30" rows="10"></textarea>
                        </p>
                        <button class="btn btn-primary">Комментировать</button>
                    </form>
                    {% for comment in post.comment_set.all %}
                        <p>{{comment.author_name}}</p>
                        <p>{{comment.text}}</p>
                        <p>{{comment.date|date:'d F Y|e'}}</p>
                    {% endfor %}
                </div>
                <aside class="col-md-3"></aside>
            </div>
        </section>
    </section>
{% endblock %}